@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand&display=swap');

.resume-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-left: 90px;
    padding-right: 90px;
}

.section-title {
    text-align: center;
    width: 100%;
}

.section-content {
    text-align: left;
    width: 100%;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  body {
    animation: fadeIn 1s ease-in-out;
  }
